:root {
  --text-color: rgba(0, 0, 0, 1);
  --x2nd-text-color: rgba(182, 182, 182, 1);
  --primary-color: rgba(108, 93, 211, 1);
  --trng: rgba(255, 255, 255, 1);
  --xm-1: rgba(54, 54, 54, 1);
  --tm-6: rgba(221, 204, 255, 1);
}
